/* styles.css */
.fancy-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .chart-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
    max-width: 2000px;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 400px;
  
  }
  